[submodule "repos/lockup/v2-core"]
  branch = "release"
  path = "repos/lockup/v2-core"
  url = "https://github.com/sablier-labs/v2-core"
[submodule "repos/lockup/v2-periphery"]
  branch = "release"
  path = "repos/lockup/v2-periphery"
  url = "https://github.com/sablier-labs/v2-periphery"
[submodule "repos/flow"]
  branch = "release"
  path = "repos/flow"
  url = "https://github.com/sablier-labs/flow"
