# directories
.agents
.cache-loader
.claude/skills
.docusaurus
build
node_modules
screenshots
src/autogen/**/*.mdx

# files
**/.claude/settings.local.json
*.env
*.log
*.tsbuildinfo
.DS_Store
.eslintcache
package-lock.json
