/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f77423;
  --ifm-color-primary-dark: #c65d1c;
  --ifm-color-primary-darker: #944615;
  --ifm-color-primary-darkest: #632e0e;
  --ifm-color-primary-light: #f9904f;
  --ifm-color-primary-lighter: #faac7b;
  --ifm-color-primary-lightest: #fcc7a7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="light"] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  --docsearch-footer-background: var(--ifm-background-surface-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0px calc(-1 * var(--ifm-pre-padding));
  padding: 0px var(--ifm-pre-padding);
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-font-color-base-inverse);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

.main-wrapper {
  display: flex;
}

.markdown h1 {
  --ifm-h1-font-size: 1.75rem;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 1.75rem;
}

.markdown h2 {
  --ifm-h2-font-size: 1.5rem;
}

.markdown h3 {
  --ifm-h3-font-size: 1.25rem;
}

.markdown h4 {
  --ifm-h4-font-size: 1rem;
}

.markdown h5 {
  --ifm-h5-font-size: 0.875rem;
}

.markdown h6 {
  --ifm-h6-font-size: 0.85rem;
}

.mermaid .node circle {
  r: 100 !important;
}

.navbar__item.active {
  display: inline-block;
}

@media (max-width: 960px) {
  .footer {
    display: none;
  }
}
