name: "Deploy to Vercel"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

jobs:
  cd:
    environment: "Production"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Bun"
        uses: "oven-sh/setup-bun@v1"

      - name: "Install the dependencies"
        run: "bun install --frozen-lockfile"

      - name: "Lint the code"
        run: "bun run check"

      - name: "Pull Vercel environment information"
        run: "bun vercel pull --environment=production --token=$VERCEL_TOKEN --yes"

      - name: "Build the website"
        run: "bun vercel build --prod --token=$VERCEL_TOKEN"

      - name: "Add build summary"
        run: |
          echo "## Build results" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

      - name: "Deploy to Vercel"
        run: "bun vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN"

      - name: "Add deploy summary"
        run: |
          echo "## Deploy results" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY
